<%= render "shared/mypage-header" %>

<div class="breadcrumb-list">
  <% breadcrumb :user_show, @user %>
  <%= breadcrumbs separator: " &rsaquo; " %>
</div>

<div class="mypage-wrapper">
  <div class="mypage-contents">
    <div class="left-side">
      <nav class="left-content">
        <h3>設定</h3>
        <ul class="mypage-nav-lists">
          <li class="mypage-list"><%= link_to 'プロフィール', edit_user_registration_path %><i class="fas fa-caret-right fa-lg"></i></li>
          <li class="mypage-list"><%= link_to '出品する', new_item_path %><i class="fas fa-caret-right fa-lg"></i></li>
          <li class="mypage-list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><i class="fas fa-caret-right fa-lg"></i></li>
        </ul>
      </nav>
    </div>
    <div class="right-side">
      <h1><span><%= current_user.nickname %></span>さんのマイページ</h1>
      <div class="tab-wrap">
        <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">出品中</label>
        <div class="tab-content">
          <ul class="mypage-item-lists">
            <% if @user.items.present? %>
              <% @user.items.each do |item| %>
                <%= link_to item_path(item) do %>
                  <li class="mypage-item">
                    <% if item.purchase.present? %>
                      <div class="item-soldout"><span>SOLD OUT!</span></div>
                    <% end %>
                    <div class="user-item-image">
                      <%= image_tag item.image %>
                    </div>
                    <div class="mypage-item-content">
                      <div class="mypage-item-text">【<%= item.name %>】</div>
                      <div class="mypage-item-text">
                        出品日：<%= l item.created_at, format: :short %>　
                        <% if item.purchase.present? %>
                         売却日：<%= l item.purchase.created_at, format: :short %>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              出品中の商品はありません
            <% end %>
          </ul>
        </div>
        <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">購入済</label>
        <div class="tab-content">
          <ul class="mypage-item-lists">
            <% if @user.purchases.present? %>
              <% @user.purchases.each do |purchase| %>
                  <%= link_to item_path(purchase.item_id) do %>
                    <li class="mypage-item">
                      <div class="user-item-image">
                        <%= image_tag purchase.item.image %>
                      </div>
                      <div class="mypage-item-content">
                        <div class="mypage-item-text">【<%= purchase.item.name %>】</div>
                        <div class="mypage-item-text">出品日：<%= l purchase.item.created_at, format: :short %>　購入日：<%= l purchase.item.purchase.created_at, format: :short %></div>
                      </div>
                    </li>
                  <% end %>
              <% end %>
            <% else %>
              購入した商品はありません
            <% end %>
          </ul>
        </div>
        <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">いいね済</label>
        <div class="tab-content">
          <ul class="mypage-item-lists">
            <% if @user.likes.present? %>
              <% @user.likes.each do |good_item| %>
                <%= link_to item_path(good_item.item.id) do %>
                  <li class="mypage-item">
                    <div class="user-item-image">
                      <%= image_tag good_item.item.image %>
                    </div>
                    <div class="mypage-item-content">
                      <div class="mypage-item-text">【<%= good_item.item.name %>】</div>
                      <div class="mypage-item-text">出品日：<%= l good_item.item.created_at, format: :short %></div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              いいね済みの商品はありません
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>