<%= render "shared/header" %>
<div class="search-wrapper">
  <div class="l-contents">
  </div>
  <div class="r-contents">
    <div class="search-header">
      <h2><%= params[:q][:name_cont] %>での検索結果</h2>
    </div>
    <div class="search-box">
      <% @results.each do |result| %>
        <%= link_to item_path(result) do %>
          <div class="search-item">
            <div class="item-image">
              <%= image_tag result.image %>
            </div>
            <div class="item-name">
              <%= result.name %>
            </div>
            <div class="item-price">
              <b>￥<%= result.price %></b>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>